<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <div class="header">
      <h2>Admin Dashboard</h2>
      <p>Manage Student Complaints</p>
    </div>
    
<form method="POST" action="/logout" style="margin-bottom:20px">
  <button class="btn red">Logout</button>
</form>

    <div class="card">
      <table>
        <tr>
          <th>Student</th>
          <th>Problem</th>
          <th>Status</th>
          <th>Update</th>
        </tr>

        <% complaints.forEach(c => { %>
        <tr>
          <td><%= c.studentId.name %></td>
          <td><%= c.title %></td>
          <td><span class="status <%= c.status.replace(" ", "") %>"><%= c.status %></span></td>
          <td>
            <form method="POST" action="/admin/status/<%= c._id %>">
              <select name="status">
                <option>Pending</option>
                <option>In Progress</option>
                <option>Resolved</option>
              </select>
              <button class="btn small">Update</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </table>
    </div>
  </div>
</body>
</html>
